parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method App\\Entity\\User\:\:isVerified\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/Auth/VerifyEmailController.php

		-
			message: '#^Property App\\Entity\\Candidature\:\:\$id \(Symfony\\Component\\Uid\\Uuid\|null\) is never assigned Symfony\\Component\\Uid\\Uuid so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Candidature.php

		-
			message: '#^Property App\\Entity\\Entreprise\:\:\$id \(Symfony\\Component\\Uid\\Uuid\|null\) is never assigned Symfony\\Component\\Uid\\Uuid so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Entreprise.php

		-
			message: '#^Property App\\Entity\\Entretien\:\:\$id \(Symfony\\Component\\Uid\\Uuid\|null\) is never assigned Symfony\\Component\\Uid\\Uuid so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Entretien.php

		-
			message: '#^Property App\\Entity\\User\:\:\$id \(Symfony\\Component\\Uid\\Uuid\|null\) is never assigned Symfony\\Component\\Uid\\Uuid so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Unknown parameter \$reason in call to Deprecated constructor\.$#'
			identifier: argument.unknown
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Instanceof between DateTimeImmutable and DateTime will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: src/Service/RelanceService.php

		-
			message: '#^Property App\\Service\\UserService\:\:\$em is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Service/UserService.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php
