<h2>Bonjour {{ user.firstName ?? 'Utilisateur' }},</h2>

<p>
Votre mot de passe a été modifié le {{ changedAt|date('d/m/Y à H:i') }}.
</p>

<p>
Si vous n'êtes pas à l'origine de cette modification,
veuillez réinitialiser votre mot de passe immédiatement.
</p>

<hr>

<p>
L’équipe FollowUp
</p>
